<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Araç_kiralama_otomasyonu.Properties.Settings.Araç_KİRALAMAConnectionString"
            connectionString="Data Source=DESKTOP-35DQS5A;Initial Catalog=Araç_KİRALAMA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>